.cell-style {
  list-style: none;
  padding: 2px 5px;
  background: #cce7ff;
  border-radius: 12px;
  margin-bottom: 4px;
  margin-top: 4px;
  cursor: pointer;
  padding: 5px;
}

.guest-cell-style {
  list-style: none;
  padding: 2px 5px;
  background: #a692ff;
  border-radius: 12px;
  margin-bottom: 4px;
  margin-top: 4px;
  cursor: pointer;
  padding: 5px;
}

.modal {
  width: 700px !important;
  height: 700px !important;
}

.event-input {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.event-icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  color: #919191;
  border: 1px solid #e9e9e9;
  border-right: none;
  border-radius: 6px 0px 0px 6px;
}

.desc-icon {
  width: 20px;
  height: 20px;
  padding: 16px 5px;
  color: #919191;
  border: 1px solid #e9e9e9;
  border-right: none;
  border-radius: 6px 0px 0px 6px;
}

.range-picker {
  width: 100%;
}

.time-picker {
  width: 100%;
}

.dropdown {
  width: 30%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}