.create-event-button {
    border: 1px solid #ccc; /* Kenarlık rengi ve kalınlığı */
    padding: 0.5rem; /* 2 birim padding */
    width: 75%;
    border-radius: 10px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    transition: all 0.3s ease; /* Hover durumunda yumuşak geçiş */
    background-color: #ffffff;
    cursor: pointer;
  }
  
  .create-event-button:hover {
    scale: 1.1;
  }
  
  .button-text {
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
  }

  .button-img {
    width: 22px;
    height: 22px;
    color: #364875;
  }
  